.heading {
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}
.heading h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2.4rem;
  font-weight: 900;
  /* font-style: italic; */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  color: #d34d16;
  /* background-color: white; */
  /* text-shadow: 2px 2px 8px #e74c3c, -2px -2px 8px #e74c3c;
  color: white; */
}
.all-recipes {
  margin-bottom: -4rem;
}
@media (max-width: 35rem) {
  .heading h2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 30rem) {
  .heading h2 {
    font-size: 1.4rem;
  }
}
